a:link {

	   border-style: solid;
	   border-color: pink;
	   color: darkred;
	   background-color: orange;
	   border-radius: 8px;

	   }

a:active {



	     }

a:visited {

		  border-style: solid;
		  border-color: pink;
		  color: darkred;
		  background-color: orange;
		  border-radius: 8px;

	      }	   	   

a:hover {

		border-style: dashed;
		border-color: black;
		color: black;
		background-color: white;
		border-radius: 8px;

	    }

