a:link, a:visited {

			 							color: black;
			 							text-decoration: none;
			 							background: lightslategrey;
			 							border: 1px solid black;
			 							border-radius: 10px;
			 							display: inline-block;
			 							width: 200px;

			 						   }

a:active {

						 color: silver;
						 text-decoration: none;
						 background: black;
						 border: 2px dotted silver;
						 display: inline-block;
			 			 width: 200px;

						 }

a:hover {

						color: black;
						text-decoration: none;
						background: white;
						border: 2px dashed black;
						border-radius: 5px;
						display: inline-block;
			 			width: 200px;

						}